<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Available Loans</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
</head>
<script>

    var soapRequest = "<soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:soap=\"http://soap.project.bank\">\n" +
        " <soapenv:Header/>\n" +
        " <soapenv:Body>\n" +
        " <soap:listLoanSchemeRequest/>\n" +
        " </soapenv:Body>\n" +
        "</soapenv:Envelope>"
    $(document).ready(()=>{
        //ajax call to SOAP API to  display the all LoanScheme  details
        $.ajax({
            url: "http://localhost:8082/loanPoint",
            type: "POST",
            dataType: "xml",
            contentType: "text/xml;charset=\"UTF-8\"",
            data: soapRequest,
            success: (data) => {
// alert(data)
                $(data).find('ns2\\:loanScheme').each(function() {
                    var id = $(this).find('ns2\\:loanSchemeId').text();
                    var type = $(this).find('ns2\\:loanSchemeType').text();
                    var name = $(this).find('ns2\\:loanSchemeName').text();
                    var description = $(this).find('ns2\\:loanSchemeDescription').text();
                    var rateOfInterest = $(this).find('ns2\\:loanSchemeRoi').text();
                    console.log('name: ' + name + ', type: ' + type + ', desc: ' + description + ', roi: '+ rateOfInterest);
                    $("tbody").append("<tr><td>"+id+"</td><td>"+name+"</td><td>"+type+"</td><td>"+description+"</td><td>"+rateOfInterest+"</td></tr>");
                });
            },
            error:()=>{
                alert("error")
            }
        });
    })


</script>
<body>
<div class="container">
<!--title of the page -->
    <div class="row justify-content-center text-dark bg-success rounded-4 mt-3 col-lg-12 col-md-8 col-sm-12">
        <div class="col-10">
            <div style="margin-left: 200px;">
                <h1 class="text-center"> <img id="logo" th:src="@{/files/download.png}" class="p-2 rounded-4" width="70px"
                                              height="70px" />Available Loans!!</h1>
            </div>

        </div>
        <div class="col-2">
<!--            Logout button-->
            <a th:href="@{~/mvn/loginCustomer}"><button class="btn btn-outline-danger rounded-4 me-2 mt-3"><i
                    class="bi bi-box-arrow-left"></i>Logout</button></a>
        </div>

    </div>
<!--table tha displays the Loan Scheme Details -->
    <div class="table-responsive mt-4 rounded-4">
        <table class="table text-dark table-striped p-2 shadow-lg text-nowrap" cellspacing="1px" cellpadding="1px">
            <thead>
            <tr class="bg-info">
<!--                table head -->
                <th>Loan Scheme ID</th>
                <th>Scheme Type</th>
                <th>Name</th>
                <th>Description</th>
                <th>Rate Of Interest</th>

            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>
</body>
</html>


