<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->

    <title>Customer-search</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script th:src="@{/files/secure.js}"></script>
<script>

    let customers;
    //ajax call to Rest API to  display the all Customer details
    $(document).ready(function(){
        $.get("http://localhost:8082/bank/allCustomers", function(data) {
            customers = data;
            $.each(data,function(index,item) {
                $("tbody").append("<tr><td>" + item.customerId+ "</td><td class='cusName'>" + item.customerName+ "</td><td>" + item.customerAddress + "</td><td>" + item.customerStatus + "</td><td>" + item.customerContact + "</td><td>" + item.userName +  "</td></tr>");
            })
        })
        //search the customer by customer Id
        $("#idSearch").click(()=>{
            const customerId = $("#id").val();
            if(customerId=="") {
                //alert("Customer Id Shouldn't be Empty");
                $("#response").html("Customer Id Shouldn't be Empty!!");
                $("#customerTable").empty();
                $.each(customers,function(index,item) {
                    $("tbody").append("<tr><td>" + item.customerId+ "</td><td class='cusName'>" + item.customerName+ "</td><td>" + item.customerAddress + "</td><td>" + item.customerStatus + "</td><td>" + item.customerContact + "</td><td>" + item.userName +  "</td></tr>");
                })
            }
            else{
                $("tbody").empty();
                customers.map((val)=> {
                    if (val.customerId == customerId) {
                        $("tbody").html("<tr><td>" + val.customerId + "</td><td>" + val.customerName + "</td><td>" + val.customerAddress + "</td><td>" + val.customerStatus + "</td><td>" + val.customerContact + "</td><td>" + val.userName + "</td></tr>");
                    }
                } )
                if ($("#customerTable").is(':empty')){
                    //alert("Invalid Customer Id");
                    $("#response").html("Invalid Customer Id!!");
                    $.each(customers,function(index,item) {
                        $("tbody").append("<tr><td>" + item.customerId+ "</td><td class='cusName'>" + item.customerName+ "</td><td>" + item.customerAddress + "</td><td>" + item.customerStatus + "</td><td>" + item.customerContact + "</td><td>" + item.userName +  "</td></tr>");
                    })
                }
            }
        })

        //search the customer by customer name
       $("#nameSearch").click(()=>{
           const customerName = $("#name").val().toLowerCase();
           $("tbody").empty();
           if(customerName==""){
              // alert("Please enter the name");
               $("#response").html("customer name shouldn't be empty!!");
               $.each(customers,function(index,item) {
                   $("tbody").append("<tr><td>" + item.customerId+ "</td><td class='cusName'>" + item.customerName+ "</td><td>" + item.customerAddress + "</td><td>" + item.customerStatus + "</td><td>" + item.customerContact + "</td><td>" + item.userName +  "</td></tr>");
               })
           }
           else {
               customers.map((val) => {
                   if (val.customerName.includes(customerName)) {
                       $("tbody").append("<tr><td>" + val.customerId + "</td><td>" + val.customerName + "</td><td>" + val.customerAddress + "</td><td>" + val.customerStatus + "</td><td>" + val.customerContact + "</td><td>" + val.userName + "</td></tr>");
                   }
               })
               if ($("tbody").is(':empty')) {
                  // alert("Customer name not found!!");
                   $("#response").html("customer not found!!")
               }
           }

       })
    });
</script>
</head>

<body>
    <div class="container">
<!--title of the page       -->
        <div class="row justify-content-center text-dark bg-success rounded-4 mt-3 col-lg-12 col-md-8 col-sm-12"> 
            <div class="col-10">
                <div style="margin-left: 200px;">
                    <h1 class="text-center"> <img id="logo" src="/files/download.png" class="p-2 rounded-4" width="70px"
                            height="70px" />Customer Details!!</h1>
                </div>

            </div>
     <!-- Logout button-->
            <div class="col-2">
                <a th:href="@{~/mvn/login}"><button class="btn btn-outline-danger rounded-4 me-2 mt-3"><i
                            class="bi bi-box-arrow-left"></i>Logout</button></a>
            </div>
        </div>
       
       <div class="row justify-content-around">
         <div class="col-lg-5 col-md-8 col-sm-12 card bg-primary rounded-4 p-2 mt-2">
          <p>Origin Bank operates as a full service bank!!<br> The Company offers banking products and services such as savings accounts,<br></p>
         </div>
<!--  search customer-->
         <div class="col-lg-6 col-md-8 col-sm-12 align-self-center p-2 card bg-primary rounded-4 mt-2">
            <div class=" row justify-content-center">
                <div class="row">
                      <p class="col-lg-5 col-md-8 col-sm-12 text-danger mt-3 mb-2" id="response"></p>
                       <h2 class=" col-lg-5 col-md-8 col-sm-12 text-dark text-center"><i class="bi bi-search"></i>Search</h2>
                </div>
                <div class="col-lg-5 col-sm-12 p-1 mt-1 mb-2">
                    <div class="row d-flex align-items-center">
                        <div class="col-lg-6 align-items-center">
                            <!--  search customer by ID-->
                        <input class=" form-control " type="text" id="id" name="cusId"  placeholder=" ID " />
                        </div>
                        <div class="col-lg-6 align-items-center">
                     <button class="rounded-2 col-lg-4 " id="idSearch"><i class="bi bi-search"></i></button>
                        </div>
                    </div>
                </div>
                <!--  search customer by customer Name-->
                <div class="col-lg-5 col-sm-12 p-1 mt-1 mb-2">
                    <div class="row align-items-center">
                        <div class="col-lg-7" align-items-center>
                    <input type="text" id="name" name="cusName" placeholder="Name" class="form-control" />
                        </div>
                        <div class="col-lg-5 align-items-center">
                    <button class="rounded-2"  id="nameSearch"><i class="bi bi-search"></i></button>
                        </div>
                  </div>
                </div>

            </div>
        </div>
      </div>
<!--        table that displays all the customer Details-->
        <div class="table-responsive mt-4 rounded-4">
            <table  class="table text-dark table-striped p-2 shadow-lg text-nowrap" cellspacing="1px" cellpadding="1px">
                <thead>
                    <tr class="bg-info">
                        <th>Customer ID</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Status</th>
                        <th>Contact</th>
                        <th>User Name</th>

                    </tr>
                </thead> 
                <tbody id="customerTable">

                </tbody>    
            </table>
        </div>   
    </div>
</body>
</html>