<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

</head>

<body>

    <div class="row justify-content-center mt-3">

        <div class="col-lg-5 col-sm-12">

            <div class="row justify-content-between">

                <div class="col-lg-7 col-md-8 col-sm-12 bg-dark text-center text-light card p-2 rounded-4 shadow-lg">

                    <img class="d-block card-img w-100" th:src="@{/files/mobile-banking.jpg}"  height="100px" width="80px" />

                    <h3 class="card-title">Hassle-free Mobile Banking</h3>

                    <div class="card-body">

                        <p>Experience hassle free mobile banking offered by Origin bank</p>

                    </div>

                </div>

                <div class="col-lg-4 col-sm-12 bg-dark text-center text-light card p-2 rounded-4 shadow-lg">

                    <img class="d-block card-img w-100 " th:src="@{/files/old-age.jpg}"  height="100px" width="80px" />
                    <h3 class="card-title">Importance to Senior citizen!!</h3>

                    <div class="card-body">

                        <p>Complex free banking offered by Origin bank to Senior citizen's</p>

                    </div>

                </div>

                <div class="col-lg-12 mt-1 bg-dark text-center text-light card p-2 rounded-4 shadow-lg">

                    <img class="d-block card-img w-100" th:src="@{/files/car-loan.jpg}" height="100px" width="80px" />

                    <h3 class="card-title">Hassle-free Car Loans!!</h3>

                    <div class="card-body">

                        <p>Get a Car loan with ease of request offered by Origin bank</p>
                    </div>

                </div>

            </div>

        </div>

        <div class="col-6">

            <img th:src="@{/files/Origin-Bank1.jpg}" height="50%" width="100%" class="rounded-4">

           <div class=" mt-4">
            <marquee width="100%" direction="up" bgcolor="#00004F" class=" p-2 rounded-3 text-light">  
                Origin Bank operates as a full service bank!!<br> The Company offers banking products and services such as savings accounts,<br>
                 debit and credit cards,<br> business and personal loans, mortgages, cash management, line of credit, online banking, and e-statements.
                 Origin Bank operates as a full service bank!!<br> The Company offers banking products and services such as savings accounts,<br>
                 debit and credit cards,<br> business and personal loans, mortgages, cash management, line of credit, online banking, and e-statements.
                </marquee>
           </div>


        </div>

    </div>


</body>

</html>